<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>Gestión de Categorías</ion-title>

    <ion-buttons slot="end">
      <ion-button class="pastel-crear" (click)="irACrearCategoria()">Crear</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let cat of categorias">
        <ion-card class="categoria-card">
          <ion-card-header>
            <ion-card-title>{{ cat.nombre }}</ion-card-title>
          </ion-card-header>

          <ion-card-content class="card-content">
            <div class="botones">
              <ion-button size="small" color="warning" (click)="editarCategoria(cat.documentId)">
                Editar
              </ion-button>
              <ion-button size="small" color="danger" (click)="eliminarCategoria(cat.documentId)">
                Eliminar
              </ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
