<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/ver-categorias"></ion-back-button>
    </ion-buttons>
    <ion-title>Crear Categoría</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="form-wrapper">
    <div class="form-card">

      <ion-item>
        <ion-label position="floating">Nombre de la Categoría</ion-label>
        <ion-input [(ngModel)]="nombre"></ion-input>
      </ion-item>

      <ion-button expand="block" class="pastel-button" (click)="crearCategoria()">
        Crear Categoría
      </ion-button>

    </div>
  </div>
</ion-content>
