<ion-menu side="start" contentId="main-content" *ngIf="!mostrarBotones">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="custom-menu-content">
    <ion-list lines="none">

      <ion-item routerLink="/detalle-usuario" *ngIf="rol" class="menu-card">
        <ion-label>Perfil</ion-label>
      </ion-item>

      <ion-item routerLink="/ver-usuarios" *ngIf="rol === 'Admin'" class="menu-card">
        <ion-label>Usuarios</ion-label>
      </ion-item>

      <ion-item routerLink="/ver-categorias" *ngIf="rol === 'Admin' || rol === 'Asistente'" class="menu-card">
        <ion-label>Categorías</ion-label>
      </ion-item> 

      <ion-item routerLink="/ver-producto" *ngIf="rol === 'Admin' || rol === 'Asistente'" class="menu-card">
        <ion-label>Productos</ion-label>
      </ion-item>

      <ion-item routerLink="/ver-pedidos" *ngIf="rol === 'Admin' || rol === 'Asistente'" class="menu-card">
        <ion-label>Pedidos</ion-label>
      </ion-item>

      <ion-item routerLink="/ver-ventas" *ngIf="rol === 'Admin' || rol === 'Asistente'" class="menu-card">
        <ion-label>Ventas</ion-label>
      </ion-item>

      <ion-item routerLink="/mis-pedidos" *ngIf="rol === 'Admin' || rol === 'Cliente'" class="menu-card">
        <ion-label>Mis Pedidos</ion-label>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="main-content"></ion-router-outlet>
