<ion-header>
  <ion-toolbar>
    <ion-title>Crear Pedido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Estado</ion-label>
    <ion-select [(ngModel)]="estado" [disabled]="true" (ionChange)="onEstadoChange()">
      <ion-select-option value="pendiente">Pendiente</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Fecha Pedido</ion-label>
    <ion-datetime [(ngModel)]="fecha_pedido" displayFormat="YYYY-MM-DD"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Fecha Entrega</ion-label>
    <ion-datetime [(ngModel)]="fecha_entrega" displayFormat="YYYY-MM-DD"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Total</ion-label>
    <ion-input type="number" [(ngModel)]="total" readonly></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Notas</ion-label>
    <ion-textarea [(ngModel)]="notas"></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label>Agregar Producto</ion-label>
    <ion-select placeholder="Selecciona un producto" (ionChange)="agregarProducto($event.detail.value)">
      <ion-select-option *ngFor="let producto of productos" [value]="producto.documentId">
        {{ producto.nombre }} ({{ producto.precio | currency:'USD' }})
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-list *ngIf="productosSeleccionados.length > 0">
    <ion-item *ngFor="let item of productosSeleccionados; let i = index">
      <ion-label>{{ getProductoNombre(item.productoId) }} ({{ item.cantidad }} x {{ getProductoPrecio(item.productoId) | currency:'USD' }})</ion-label>
      <ion-input type="number" [(ngModel)]="item.cantidad" (ionChange)="actualizarCantidad(i, item.cantidad)" min="1"></ion-input>
      <ion-button (click)="eliminarProducto(i)" color="danger">Eliminar</ion-button>
    </ion-item>
  </ion-list>

  <ion-button expand="block" (click)="crearPedido()">Crear Pedido</ion-button>
</ion-content>