<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/ver-inventario"></ion-back-button>
    </ion-buttons>
    <ion-title>Actualizar Inventario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="form-wrapper">
    <div class="form-card" *ngIf="inventario">

      <ion-item>
        <ion-label position="floating">Cantidad actual</ion-label>
        <ion-input type="number" [(ngModel)]="cantidad_actual"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Unidad de medida</ion-label>
        <ion-input [(ngModel)]="unidad_medida"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Estado</ion-label>
        <ion-select [(ngModel)]="estado" interface="popover" placeholder="Selecciona un estado">
          <ion-select-option value="disponible">Disponible</ion-select-option>
          <ion-select-option value="agotado">Agotado</ion-select-option>
          <ion-select-option value="inactivo">Inactivo</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-button expand="block" class="pastel-button" (click)="actualizarInventario()">
        Guardar Cambios
      </ion-button>

    </div>
  </div>
</ion-content>
