<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/ver-usuarios"></ion-back-button>
    </ion-buttons>
    <ion-title>Editar Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="form-wrapper">
    <div class="form-card">

      <ion-item>
        <ion-label position="floating">Nombre completo</ion-label>
        <ion-input [(ngModel)]="username"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Correo</ion-label>
        <ion-input [(ngModel)]="email" type="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Nueva contraseña (opcional)</ion-label>
        <ion-input [(ngModel)]="password" type="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Rol</ion-label>
        <ion-select [(ngModel)]="rolSeleccionado" interface="popover" placeholder="Selecciona un rol">
          <ion-select-option *ngFor="let rol of roles" [value]="rol.id">
            {{ rol.name }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-button expand="block" class="pastel-button" (click)="guardarCambios()">
        Guardar
      </ion-button>

    </div>
  </div>
</ion-content>
