<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ producto?.nombre || 'Detalle de Producto' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ng-container *ngIf="producto; else cargando">
    <ion-card class="detalle-card">
      <img *ngIf="producto?.imagenUrl" [src]="producto.imagenUrl" alt="Imagen del producto" />
      <ion-card-header>
        <ion-card-title>{{ producto.nombre }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p class="descripcion" [innerHTML]="producto.descripcion"></p>
        <p class="precio"><strong>Precio:</strong> ${{ producto.precio }}</p>
      </ion-card-content>
    </ion-card>
  </ng-container>

  <ng-template #cargando>
    <div class="cargando-container">
      <ion-spinner name="dots"></ion-spinner>
      <p>Cargando producto...</p>
    </div>
  </ng-template>
</ion-content>
